@page "/todo"
@rendermode InteractiveServer

<h3>To-Do Application</h3>

<input placeholder="Enter a new task" />
<button>Add task</button>

<ul>
        <li>
            <input type="checkbox" />
            <button>Delete</button>
        </li>
</ul>